@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat-Bold.otf);
    src: url(../fonts/Montserrat-Bold.ttf);

}

@font-face {
    font-family: MontserratRegular;
    src: url(../fonts/Montserrat-Regular.otf);
    src: url(../fonts/Montserrat-Regular.ttf);

}

@font-face {
    font-family: MyriadProRegular;
    src: url(../fonts/8143.otf);
}

@font-face {
    font-family: HelveticaRoundedLTBlack;
    src: url(../fonts/HelveticaRoundedLT-Black.otf);
}


@media (min-width: 768px){
    .container-fluid {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container-fluid {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1170px;
    }
}

ul {
    list-style-type: none;
    margin:  0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;

}

li {
    float: right;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav__link , .nav__link:focus, .nav__link:visited ,.nav__link:active {
    display: block;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    margin-right: 30px;
    padding: 14px 10px;
    text-decoration: none;
}
.nav__link:hover{
    display: block;
    outline: none;
    cursor: pointer;
    color: #fde428;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.logo{
    float: left;
    text-align: center;
}

.logo__title{
    color: #fde428;
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: -10px;
    height: 35px;
    font-family: MontserratBold, sans-serif ;
}

.logo__subtitle{
    letter-spacing: 4px;
    font-size: 14px;
    color: #ffffff;
    font-family: MontserratBold, sans-serif;
}


/*Header*/
.margin{
    margin-bottom: 50px;
}

.header {
    padding-top: 54px;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    background-color: #002e5b;
}

.header__top{
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.header__icon{
    width: 31px;
    height: 31px;
}
#nav_select{
    margin-top: 14px;
    color: #ffffff;
    background-color: #0C1C36;
    outline: none;
    border: none;

}
.background-img{
    background-image:  url("../img/header.png");
    background-position: center center;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.header__rectangle{
    margin-top: 150px;
    float: right;
    width: 299px;
    height: 378px;
    background: url("../img/rectangle.png");
    position: relative;
    text-align: right;
}

.header__rectangle_title{
    position: absolute;
    font-size: 51px;
    right: 220px;
    top: 80px;
    line-height: 1;
    color: #ffffff;
    font-family: MontserratBold, sans-serif;
}

.header__rectangle_link{
    position: absolute;
    cursor: pointer;
    font-size: 21px;
    right: 220px;
    top: 265px;
    width: 150px;
    height: 30px;
    color: #fde428;
    border-bottom: 2px solid #fde428;
    font-family: MontserratBold, sans-serif;

}

/*start content*/
.content{
   margin-top: 100px;

}

.title{
    font-size: 31px;
    color: #002e5b;
    padding-right: 150px;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-family: MontserratBold, sans-serif;
}

.subtitle{
    font-size: 21px;
    color: #666666;
    padding-right: 120px;
    margin-bottom: 24px;
    font-family: "Segoe UI Emoji", sans-serif;

}

.desc{
    color: #333333;
    font-family: "Segoe UI Emoji", sans-serif;
    font-size: 16px;
    padding-right: 30px;
    margin-bottom: 35px;
}

.link{
    font-size: 16px;
    color: #002e5b;
    font-family:  MontserratBold, sans-serif;
    border-bottom: 2px solid #002e5b;
    margin-bottom: 20px;
    cursor: pointer;
}

.rectangles{
    position: relative;
    text-align: center;
}
.rectangle_yellow{
    width: 270px;
    height: 540px;
    background-color: #fde428;
    opacity: 0.98;
    margin: auto;
}
.rounded_rectangle{
    position: absolute;
    width: 500px;
    height: 326px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a1a1a1;
}

#graph{
    background-color: #f4f4f4;
    padding-bottom: 50px;
}
.graph{
    width: 95%;
}

#button{
    background-color: #002e5b;
}

.button{
    padding: 35px 0;
}


@media handheld {
    .button_right{
        display: none;
    }
    .left{
        display: block;
    }
}

@media screen {
    .button_right{
        display: block;
    }
    .left{
        display: none;
    }
}



.contact-title{
    font-size: 21px;
    color: #ffffff;
    margin: 0;
}

.left{
    text-align: right;
    margin: auto;
}

.contact-now{
    padding: 16px 17px 15px;
    background-color: #fde428;
    border-radius: 3px;
    font-family:  MontserratBold, sans-serif;
    color: #002e5b;
    font-size: 16px;
    text-decoration: none;
}
.contact-now:hover{
    padding: 16px 17px 15px;
    background-color: #d1bc21;
    border-radius: 3px;
    font-family:  MontserratBold, sans-serif;
    color: #002e5b;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#popular{
    text-align: center;
    padding-bottom: 100px;
}

.popular__main{
    margin: 0 auto;
}
.popular__title{
    padding: 0;
    margin-bottom: 20px;
}

.popular__subtitle{
    padding: 0;
}

.item{
    margin: 17px auto 0;

}

.item__img{
    width: 100%;
    height: 191px;
}
.item1{
    background-color: #69d2e7;
}

.item2{
    background-color: #add478;
}

.item3{
    background-color: #f49f77;
}

.item__title{
    color: #002e5b;
    font-family:  MontserratBold, sans-serif;
    font-size: 21px;
    text-align: left;
    cursor: pointer;
    margin: 36px 0 28px;
}

.item__title:hover{
    color: #0560ba;
    font-family:  MontserratBold, sans-serif;
    font-size: 21px;
    text-align: left;
    margin: 36px 0 28px;
}
.item__desc{
    color: #333333;
    font-family: "Segoe UI Emoji", sans-serif;
    font-size: 16px;
    text-align: left;
    padding-right: 20px;
}

#best{
    background-color: #002e5b;
}
.best_items{
    padding: 70px 0;
}
.count_item{
    text-align: center;
    margin-top: 50px;
}
.count{
    letter-spacing: 12px;
    font-size: 48px;
    color: #ffffff;
    font-family: MontserratRegular, sans-serif;
}

.count_title{
    letter-spacing: 3px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Segoe UI Emoji", sans-serif;
}

#video{

}

.video__title{
    padding-right: 50px;
}

.video__rectangles{
    position: relative;
}
.video__rectangle{
    background-color: #002e5b;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.video_icon{
    position: absolute;
    margin: auto;
    border-radius: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 106px;
    height: 106px;
    background-color: #ffffff;
    opacity: 0.2;
    z-index: 0;
}

.video_icon2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: #ffffff;
  }

.video_icon_png{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 17px;
    height: 20px;
    z-index: 2;
}

#testimonials{
    background-color: #002e5b;
    text-align: center;
}

.testimonials{
    margin: auto;
    padding: 100px 0 120px;
    color: #ffffff;

}
.testimonials__quotes{
    margin-top: 125px;
    font-size: 48px;
    font-family: HelveticaRoundedLTBlack, serif;
}

.testimonials__text{
    font-size: 20px;
    font-family: MyriadProRegular ,serif;
    margin-top: 20px;
    margin-bottom: 60px;

}

.testimonials__author{
    font-size: 14px;
    font-family: MontserratBold ,serif;
}

hr{
    color: #ffffff;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.contact{
    text-align: center;
}

.contact__item{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}
.contact__info{
    text-align: left;
    margin-left: 38px;
    margin-top: 41px;

    color: #002e5b;
    font-size: 16px;
}

.contact__info_title{
    font-family: MontserratBold, serif;
}

.contact__info_address{
    font-family: "Segoe UI Emoji",serif;
}

.contact__info_tel{
    font-size: 16px;
    color: #002e5b;
    text-decoration: none;
    font-family: "Segoe UI Emoji",serif;
}
#map-canvas, #map-canvas2,#map-canvas3{
    width: 100%;
    height: 240px;
}

footer{
    background-color: #002e5b;
    margin-top: 100px;
}

.footer{
    padding: 32px 0;
}
.footer_text{
    font-size: 16px;
    color: #ffffff;
    font-family: MontserratRegular, serif;
}
.footer_text_yellow {
    font-size: 16px;
    color: #fde52c;
    font-family: MontserratRegular, serif;
}
.footer_right{
    display: inline;
    float: right;
}
.fab{
    font-size: 16px;
    color: #fbfbfb;
    margin-left: 10px;
    cursor: pointer;
}